@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poppins:wght@200&display=swap');
/*estructura*/
html{
    font-family: 'Arvo', serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;  
}
.row{
    display: flex;
    
}
.column-2{
    width: 100%;
    background-color: rgb(16,84,68);
    color: white;
    padding-left: 25px;
}
.column-4{
    width: 65%;
}
.column-5 a{
    background-color: yellow;
    display: flex;
    width: 35%;
}
.column-6{
    width: 30%;
    float: left;
    text-align: center;
}
.column-3{  
    width: 100%;
    text-align: center;
    padding: 100px;
}
.mundi{
    text-align: left;
}
div > .oculto {
    display: none;
  }
  div > .oculto:target {
    display: block;
}
a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
a:hover{
    border-radius: 0;
    border: 0px solid orange;
    background-color: orange;
}
hr {
    height: 4px;
    background-color: orange;
}

@media (max-width: 767px) {
    body {
      padding: 0 20px;
    }
    .row {
      flex-direction: column;
    }
    #opcion1, #opcion2, #opcion3 {
      padding: 0;
    }
    .column-2 {
      width: 100%;
      padding: 25px;
    }
    .column-4 {
      width: 100%;
    }
    .column-5 a {
      width: 100%;
    }
    .column-6 {
      width: 100%;
      float: none;
    }
    .descripcion-read {
      padding-left: 0;
    }
    .column-6 img {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      display: block;
    }
  }
  