<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
    <title>Currículum</title>
    <link rel="icon" type="image/png" href="../../img/curriculum.png">
</head>
<body>
    <header>
    <div class="row">
        <div class="column-2">
          <nav>
            <ul>
              <li><a href="#opcion1" target="contenido">👤 Who I am?</a></li>
              <li class="derecha"><a href="#opcion4" target="contenido">🧪 Experience</a></li>
              <li class="derecha"><a href="#opcion3" target="contenido">🎯 Goals</a></li>
              <li class="derecha"><a href="#opcion2" target="contenido">🏫 Formation</a></li>
            </ul>
          </nav>          
        </div>
    </div>
    </header>
    <div class="row">
      <div class="column-3">
          <h1 style="font-size: 5em;">Xavi Conde</h1>
          <main>
      </div>
    </div>
            <div id="opcion1" class="row">
                <div class="yo" >
                    <h2 style="font-size: 3em;">👤 Who I am?</h2>
                </div>
            </div>
                <div class="row">
                  <div class="columna-50">
                    <h3 style="font-size: 2em;"><u>Personal Information</u></h3>
                    <p style="font-size: 24px;"> 📱 650 973 482</p>
                    <p style="font-size: 24px;"> 📧 xaviconde05@gmail.com</p>
                    <p style="font-size: 24px;"> 📍 Hospitalet de Llobregat, 08901</p>
                  </div>
                  <div class="columna-50">
                    <h3 style="font-size: 2em;"><u>About me</u></h3>
                    <p style="font-size: 24px;">I am a hard-working person and dedicated to computing, I like<br>  the issue of being able to always be surrounded by computers and I love learning new things every day and constantly improving.</p>
                  </div>
                </div>
            <div id="opcion1" class="row">
                  <div class="yo" >
                      <h2 style="font-size: 3em;">VIDEO PRESENTATION</h2>
                      <iframe style="margin-bottom: 25px;" width="700" height="400" src="https://www.youtube.com/watch?v=EIr9v29KwK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      <hr>
                    </div>
            </div>
            <div id="opcion2" class="row">
              <div class="yo" >
                  <h2 style="font-size: 3em;">🏫 Formation</h2>
              </div>
          </div>
              <div class="row">
                <div class="columna-50">
                  <h3 style="font-size: 2em;"><u>Studies</u></h3>
                  <p style="font-size: 24px;"> Jesuïtes Joan XXIII</p>
                  <p style="font-size: 24px;"> Date: 2021 - Current</p>
                  <p style="font-size: 24px;"> Course: Studying Systems Intermediate Cycle <br>  Microcomputers and Networks</p>
                  <iframe style="margin-bottom: 25px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130488882927!2d2.1047222767719505!3d41.349896471304675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683835591506!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="columna-50">
                  <h3 style="font-size: 2em;"><u>Complementary Studies</u></h3>
                  <p style="font-size: 24px;">Sant Lluis De Pla I Amell Bosch</p>
                  <p style="font-size: 24px;">Date: 2016 - 2021</p>
                  <p style="font-size: 24px;">Course: Compulsory Secondary Education</p>
                  <iframe style="margin-top: 25px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.9713767377016!2d1.9394946767711978!3d41.33123577130712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4839bc98e609b%3A0xca7a96b160bdad4a!2sSant%20Lluis%20De%20Pla%20I%20Amell%20Bosch!5e0!3m2!1ses!2ses!4v1683836084331!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <hr>
            </div>
            <div id="opcion3" class="row">
              <div class="yo" >
                  <h2 style="font-size: 3em;">🎯 Goals</h2>
              </div>
          </div>
              <div class="row">
                <div class="columna-50">
                  <p style="font-size: 24px;"> My name is Xavi Conde and in these <br>  moments, I'm studying computer science. <br>  My main goal is to become a <br>  good programmer or system administrator. <br>  As a computer science student,<br>  I have developed programming skills<br>  and problem solving. <br>  I like to keep up with the latest trends <br>  and developments in technology and I am <br>  excited to continue my path in the <br>  programming to learn and <br>  grow professionally.</p>
                </div>
                <div class="columna-50">
                  <img style="margin-bottom: 25px;" height="500px" width="400px" src="../../img/xavi.jpg" alt="Xavi Conde">
                </div>
              </div>
              <hr>
          </div>
          <div id="opcion4" class="row">
            <div class="yo" >
                <h2 style="font-size: 3em;">🧪 Work Experience</h2>
            </div>
        </div>
            <div class="row">
              <div class="columna-50">
                <h3 style="font-size: 2em;"><u>Data</u></h3>
                <p style="font-size: 24px;"> Begues Manyanet</p>
                <p style="font-size: 24px;"> Sector: Computer</p>
                <p style="font-size: 24px;"> Job: Computer troubleshooting,<br>  Equipment repair, OS installation and network services.</p>
                <img style="margin-bottom: 25px;" height="500px" width="400px" src="../../img/logo-manyanet.png" alt="Begues Manyanet">
              </div>
              <div class="columna-50">
                <h3 style="font-size: 2em;"><u>Location</u></h3>
                <iframe style="margin-top: 25px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.9713767377016!2d1.9394946767711978!3d41.33123577130712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4839bc98e609b%3A0xca7a96b160bdad4a!2sSant%20Lluis%20De%20Pla%20I%20Amell%20Bosch!5e0!3m2!1ses!2ses!4v1683836084331!5m2!1ses!2ses" width="600" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p style="color: white;">a</p>
                <p style="color: white;">a</p>
                <p style="color: white;">a</p>
                <a href="../../index.html">
                  <img src="../../img/bandera-españa.png" alt="Descripción de la imagen" width="100" height="70" style="padding-left: 25px;" align="right">
                </a>
              </div>
            </div>
            <hr>
          </div>
</body>
</html>